<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn fast">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quisquam excepturi voluptatum perferendis ea, possimus labore culpa vel officiis deserunt quod, consectetur tempora inventore doloribus numquam exercitationem cupiditate impedit animi.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia modi nesciunt vero veritatis ullam. Perspiciatis tenetur, iusto assumenda nulla aspernatur pariatur fuga, corrupti veniam repellat recusandae quas fugiat sed id.
</p>