<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
    <!-- [heroe] hace referencia a la propiedad heroe de heroeTarjetaCompoente
         = "heroe" La igulación a heroe referencia a cada objeto de heroe que
                   se obtiene al recorrer el arreglo de heroes ya cargado en el
                   heroesComponent.ts.
         Con esto cada héroe se envia al heroeTarjetaComponet recibiendolo como
         un @input y despues cargandolo al heroe-tarjeta.compoent.html. generando
         un componente reutilizable.          
     -->
    <app-heroe-tarjeta [heroe]="heroe" [i]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
    
</div>